.mainContainer {
    padding: 5px;
    .tableHelper {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        gap: 30px;
        align-items: flex-end;
        
        .pageSizeInput {
            width: 8vw;
            max-width: 200px;
        }
    }
    
    .entityTable {
        margin-top: 20px;
    
        width: 100%;
        border-collapse: collapse;
    
        .cell {
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd; 
            text-overflow: ellipsis;
    
            &.headerCellWithFilter {
                display: flex;
                gap: 10px;
                width: 100%;
                align-items: center;
                justify-content: flex-start;
                background-color: #f2f2f2;
    
                .titleInputContainer {
                    display: flex;
                    flex-direction: row !important;
                }
            }
        
            &.headerCell {
                background-color: #f2f2f2;
            }
    
            &.actionButtonsCell {
                display: flex;
                gap: 10px;
            }
        }
    
    
        tbody {
            tr {
                &:nth-child(even) {
                    background-color: #f9f9f9;
                }
    
                &:hover {
                    background-color: #f1f1f1;
                }
            }
        }
    }
    
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 15px;
    
        .currentPage {
            margin: 0 15px;
            font-weight: bold;
            font-size: 16px;
        }
    }
    
}