.submitButton {
    background: #acaaaa6c;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;

    &:hover {
        background: #7777776c;
    }

    &:active {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    &:disabled {
        background: #7777776c;
        cursor: not-allowed;

        &:active {
            box-shadow: none;
        }
    }
}